<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<context:component-scan base-package="com.piyush.domain.spring.ConstructsAndCallbacks"/>-->

    <bean id="customer" class="com.piyush.domain.spring.ConstructsAndCallbacks.Customer"/>

    <bean id="customerList" class="com.piyush.domain.spring.ConstructsAndCallbacks.CustomerList" init-method="initCustomerList"/>

    <bean id="callbackExample" class="com.piyush.domain.spring.ConstructsAndCallbacks.CallbackExample"/>
    <bean id="disposableBeanExample" class="com.piyush.domain.spring.ConstructsAndCallbacks.DisposableBeanExample"/>

</beans>