<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>CXFWithSpringServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>

    </servlet>


    <servlet>
        <servlet-name>CXFWithoutSpringServlet</servlet-name>
        <servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>

        <init-param>
            <param-name>jaxrs.serviceClasses</param-name>
            <param-value>com.piyush.domain.restwithnonspringandcxf.RestWithoutSpringExampleImpl</param-value>
        </init-param>

        <init-param>
            <param-name>jaxrs.providers</param-name>
            <param-value>org.codehaus.jackson.jaxrs.JacksonJsonProvider</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet-mapping>
        <servlet-name>CXFWithSpringServlet</servlet-name>
        <url-pattern>/spring/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CXFWithoutSpringServlet</servlet-name>
        <url-pattern>/nonspring/*</url-pattern>
    </servlet-mapping>

</web-app>
